.hero-bg{

    position:absolute;

    inset:0;

    width:100%;
    height:100%;

    z-index:0;

    overflow:hidden;

}
.bg-bowl{

position:absolute;

top:5%;

left:27%;

transform:translate(-50%,-50%);

width:720px;
filter: blur(6px);
opacity:.0.28;
 z-index: 0;

}
.bg-avocado{

position:absolute;

top:55%;

left:12%;
filter: blur(3px);
width:200px;

opacity:.25;
}
.bg-broccoli{

position:absolute;

left:10%;

top:10%;
filter: blur(3px);
width:95px;

opacity:.25;
}
.bg-strawberry{

position:absolute;

top:64%;
filter: blur(3px);
right:10%;

width:100px;

opacity:.22;
}
.bg-banana{

position:absolute;

top:10%;

right:35%;
filter: blur(3px);
width:90px;

opacity:.25;}
.bg-apple{

position:absolute;

top:14%;

right:7%;
filter: blur(6px);
width:90px;
opacity:.25;
}
@media (max-width: 1024px) {

  .bg-bowl{
    width:500px;
  }

}

@media (max-width:768px){

  .bg-bowl{
    width:320px;
  }

  .bg-avocado,
  .bg-broccoli,
  .bg-strawberry,
  .bg-banana,.bg-apple
  {
    width:60px;

  }

}